$primary-font-family: "Hind Siliguri";
$primary-color: #4d4c49;
$secondary-color: #504545;
$thirdly-color: #fff;
$shadow-color: #6d6d6d;
$shadow-color-second: #223c5099;
$shadow-color-third: #b7b7b7;
$line-color: #e6e6e6;
$border-color: #ddd;
$blog-bg-color: #fcf6f6;
$info-font-color: #818181;